


.header { display:flex;
		  align-items:center;
		  justify-content:center;
		  margin:200px;
		  background-image:url("clouds.jpg");
		  height:40vh;
		  width:800px;
		  object-fit:cover;
		  border-radius:20px;
		  margin:0px;
		  font-size:100px;
		  position:relative;
		  top:50px;
		  repeat:no-repeat;
		  
}

p{position:relative;
top:100px;}		  

body{ background-image:white;
	
	  height:500vh;
	  justify-content:center;
	  align-items:center;
	  margin:auto;
	  padding-left:10px;
	  
}




ul { position:relative;
	 top:-200px;
	list-style-type:none;
	margin: 10;
	padding:0;
	font-family:georgia,serif;
	text-align:left;
	width:200px;
	
}

.clearfix{clear:both;
		  content:"";
		  display:block;
		 
}
		 
		 


li a {  display: block ;
		padding : 8px 16px;
		color:black;
		text-decoration:none;
		
}

li a:hover {
	background-color:powderblue;
	color:green;
    	
}

	   
.active { 
		  color:grey;
		  border-left:2px solid green;
			
}			
		
	

